<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Модель создана</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</head>
<body>
<h1>Ошибка</h1>
<h3>Модель с таким именем уже существует</h3>
<button onclick="goBack()">Назад</button>
</body>
</html>